body {
    font: 14px sans-serif;
}

.background {
    fill: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}













.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}


.bar {
    fill: #7d7d7d;
}

.bar:hover {
    fill: orangered ;
}


.d3-tip {
    line-height: 0.5;
    font-size: 9px;
    font-weight: bold;
    padding: 5px;
    background: rgba(50, 50, 50, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1;
    color: rgba(50, 50, 50, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}




.spacer {
    min-height: 40px;
}


.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}