<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h2>This is for testing visualizations as we develop them</h2>
            <p>No fancy layouts or anything at this point, we can just dump vizes here to see what they look like.</p>
            <p>Layouts and all the rest can follow later.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">

            <div class="form-group">
                <label for="cycleSelector">Select Election Cycle</label>
                <select id="cycleSelector" ng-model="ddOptions.cycle" ng-change="updateCandidates()"
                        ng-options="c for c in ddOptions.cycles" class="form-control">
                </select>
            </div>

            <div class="form-group">
                <label for="partySelector">Select Party</label>
                <select id="partySelector" ng-model="ddOptions.party" ng-change="updateCandidates()"
                        ng-options="p for p in ddOptions.parties" class="form-control">
                </select>
            </div>

            <div class="form-group">
                <label for="candidateSelector">Select Candidate</label>
                <select id="candidateSelector" ng-model="ddOptions.candidate" ng-change="updateCandidate(c.value)"
                        ng-options="c for c in ddOptions.candidates" class="form-control">
                </select>
            </div>

        </div>
        <div class="col-xs-4 col-xs-offset-2">
            <p><strong>Candidate ID: </strong>{{candidate.candidate_ids[0]}}</p>
            <p><strong>Committee ID: </strong>{{candidate.committees[0].committee_id}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <!--<custom-chart chart-type="'choropleth'" height=500 width=960 data="mapData" watch="mapUpdated"></custom-chart>-->
            <custom-chart chart-type="'segmentedBar'" height=250 width=480 data="candidate.committee.contributors_by_size" watch="candidate.committee.contributors_by_size"></custom-chart>
            <custom-chart chart-type="'horizontalBar'" height=250 width=480 data="candidate.committee.monthly_rd" watch="candidate.committee.monthly_rd"></custom-chart>


        </div>
    </div>

    <!--<div class="spacer"></div>-->
    <div class="divider-d"></div>
    <section id="outside_groups" class="module-small">



        <div class="row">
            <div class="col-xs-12">
                <h2>Outside Groups</h2>

                <p>While outside groups have always played outsized role in American politics, their influence has
                    increased dramatically since 2010, when, in Citizens United v. FEC, the United States Supreme Court
                    held that the first amendment prohibted the government from prohibiting independent political
                    expenditures - that is expenditures made by outside groups not coordinating their activities with a
                    candidate.</p>
                <p>Contributions to candidates and their committees are strictly regulated and capped at a
                    relatively low level - in the 2015-2016 election cycle, an individual can give a maximum of $2,700
                    to any candidate committee, or a maximum of $5,000 to a traditional Political Action Committee
                    (PAC). The aftermath of Citizens United, however was to see a proliferatio of
                    "independent-expenditure-only Political Action Committees", also known as Super-PACs. Contributions
                    to these groups are entirely uncapped, enabling the wealthiest Americans to have an outized voice in
                    recent elections.</p>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Top Outside Groups</h4>
            </div>
            <div class="col-xs-6">
                <outside-groups candidate="candidate" cycle="ddOptions.cycle" outside-group="outsideGroup"></outside-groups>
            </div>

            <div class="col-xs-6">
                <outside-groups candidate="candidate" cycle="ddOptions.cycle" outside-group="outsideGroup"></outside-groups>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Top Outside Group Contributors</h4>
            </div>

            <div class="col-xs-6">
                <group-donors outside-group="outsideGroup" cycle="ddOptions.cycle"></group-donors>
            </div>

            <div class="col-xs-6">
                <group-donors outside-group="outsideGroup" cycle="ddOptions.cycle"></group-donors>
            </div>
        </div>

    </section>



</div>
