<div class="container">
    <section id="header" class="module-small">
        <h1>The Price of A US Presidential Election</h1>
        <h4>Tom Kunicki, Charles Maalouf, Janak Mayer & Katherine Shelley</h4>

        <p>The purpose of this visualization is to walk the viewer through the complicated
            world of Presidential campaign financing in the United States.
            All data in this visualization comes from the Federal Election Commision (www.fec.gov).
            Each section delves into a different area of campaign financing, with interactive features that
            allow for filtering and summarizing in order to enhance understanding.</p>

    </section>
    <div class="divider-d"></div>
    <section id="all_cycles" class="module-small">
        <div class="row">
            <div class="col-xs-12">
                <h2>This View Over Time</h2>
                <p>Here we can put our visualization of total fundraising or spending over time in different cycles.</p>
                <p>We can either use the viz to select a cycle, or a dropdown like the one below.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="cycleSelector">Select Election Cycle</label>
                    <select id="cycleSelector" ng-model="model.cycle"
                            ng-options="c for c in model.cycles" class="form-control">
                    </select>
                </div>
            </div>
        </div>

    </section>


    <div class="divider-d"></div>
    <section id="all_candidates" class="module-small">

        <div class="row">

            <div class="col-xs-12">
                <h2>{{model.cycle}} Election Cycle:</h2>

                <p>Here we can put a visualization of total fundraising or spending by candidate in the {{model.cycle}}
                    election.</p>
                <p>We can either use the viz to select candidates, or dropdowns like the one below.</p>

                <h3>Select Candidates to Compare</h3>
            </div>
            <div class="col-xs-4">
                <candidate-selector candidate-json="model.candidateJson" cycle="model.cycle" party="model.party" candidate="model.candidates[0]" party-index="1"></candidate-selector>
                <p><strong>Candidate ID: </strong>{{model.candidates[0].candidate_ids[0]}}</p>
                <p><strong>Committee ID: </strong>{{model.candidates[0].committees[0].committee_id}}</p>
            </div>
            <div class="col-xs-4 col-xs-offset-2">
                <candidate-selector candidate-json="model.candidateJson" cycle="model.cycle" party="model.party" candidate="model.candidates[1]" party-index="0"></candidate-selector>
                <p><strong>Candidate ID: </strong>{{model.candidates[1].candidate_ids[0]}}</p>
                <p><strong>Committee ID: </strong>{{model.candidates[1].committees[0].committee_id}}</p>

            </div>
        </div>
    </section>

    <div class="divider-d"></div>
    <section id="candidate_committees" class="module-small">
        <div class="row">
            <div class="col-xs-12">
                <h2>Candidate Committee Receipts and Expenditures</h2>
            </div>
        </div>
    </section>


    <div class="divider-d"></div>
    <section id="outside_groups" class="module-small">



        <div class="row">
            <div class="col-xs-12">
                <h2>Outside Groups</h2>

                <p>While outside groups have always played outsized role in American politics, their influence has
                    increased dramatically since 2010. In that year, the United States Supreme Court
                    ruled in Citizens United v. FEC, that the first amendment prohibited the government from restricting
                    independent political expenditures - that is expenditures made by outside groups not coordinating
                    their activities with a candidate.</p>

                <p>Contributions to candidates and their committees are strictly regulated and capped at a
                    relatively low level - in the 2015-2016 election cycle, an individual can give a maximum of $2,700
                    to any candidate committee, or a maximum of $5,000 to a traditional Political Action Committee
                    (PAC). The aftermath of Citizens United, however was to see a proliferation of
                    "independent-expenditure-only Political Action Committees", also known as Super-PACs. Contributions
                    to these groups are entirely uncapped, enabling the wealthiest Americans to have an outized voice in
                    recent elections.</p>

                <div class="spacer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Top Outside Groups</h4>
            </div>
            <div class="col-xs-6">
                <outside-groups candidate="model.candidates[0]" cycle="model.cycle" outside-group="model.outsideGroups[0]"></outside-groups>
            </div>

            <div class="col-xs-6">
                <outside-groups candidate="model.candidates[1]" cycle="model.cycle" outside-group="model.outsideGroups[1]"></outside-groups>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Top Outside Group Contributors</h4>
            </div>

            <div class="col-xs-6">
                <group-donors outside-group="model.outsideGroups[0]" cycle="model.cycle"></group-donors>
            </div>

            <div class="col-xs-6">
                <group-donors outside-group="model.outsideGroups[1]" cycle="model.cycle"></group-donors>
            </div>
        </div>

    </section>



</div>
